<%= form_for @category, url: {action: "create"} do |f| %>
<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= @category.errors.count, " Помилки" %> :</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
	<%= f.label :category, "Назва категорії" %>
	<br>
	<%= f.text_field :category %>
</div>
<div class="field">
	<%= f.submit "Створити", class: "btn btn-large btn-primary" %>
</div>
<% end %>